<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Home number:</strong>
  <%= @client.home_number %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @client.mobile_phone %>
</p>

<p>
  <strong>Fax number:</strong>
  <%= @client.fax_number %>
</p>

<p>
  <strong>Street:</strong>
  <%= @client.street %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @client.zip %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @client.nationality %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @client.languages %>
</p>

<p>
  <strong>English:</strong>
  <%= @client.english %>
</p>

<p>
  <strong>Years:</strong>
  <%= @client.years %>
</p>

<p>
  <strong>Hha:</strong>
  <%= @client.hha %>
</p>

<p>
  <strong>Driver license:</strong>
  <%= @client.driver_license %>
</p>

<p>
  <strong>Car:</strong>
  <%= @client.car %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @client.notes %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
